{
  "presets": [["env", { "modules": false }], "react", "stage-2"],
  "plugins": [
    "universal-import",
    [
      "transform-imports",
      {
        "react-router": {
          "transform": "react-router/${member}",
          "preventFullImport": true
        },
        "react-router-dom": {
          "transform": "react-router-dom/${member}",
          "preventFullImport": true
        },
        "date-fns": {
          "transform": "date-fns/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
