.tile-list {
  display: grid;
  grid-gap: 0.125rem;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  padding: 0.25rem;
}

@media (min-width: 768px) {
  .tile-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.tile {
  display: inline-block;
  color: inherit;
  margin: 0.125rem;
  /* width: 160px; */
}

.tile-footer {
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
