.tile-list {
  columns: 1;
  column-gap: 0;
}

@media (min-width: 576px) {
  .tile-list {
    columns: 2;
  }
}

@media (min-width: 768px) {
  .tile-list {
    columns: 3;
  }
}

@media (min-width: 1200px) {
  .tile-list {
    columns: 4;
  }
}

@media (min-width: 1600px) {
  .tile-list {
    columns: 5;
  }
}

.tile {
  break-inside: avoid;
  display: block;
  padding: 15px;
  /* width: 160px; */
}

.tile-image {
  break-inside: avoid;
}
